

<div class="container-fluid">
  <div class="row"> <div class="col-md-12">
  

  <div class="clearfix"></div>
  <%= render partial: 'teams/list',
    locals: {teams: @teams } %>

  </div></div>
</div>
