<div class="card" id="<%= dom_id(task) %>">
  <p class='m-0 '><%= task.author  %></p>
  <p class='fs-4 m-0 '><%= task.content  %></p>
  <%= button_to 'Complete', project_task_complete_path(task.project, task), class: 'btn btn-success' %>
</div>
