<h1>Welcome, to WeWIP</h1>
<p>A platform designed to share your accomplishments with your team. Whenever you get a task done, mark it as completed to send a message to your team.
</p>
<p>In this demo, pretend that I built the ability to create a team and invite members to that team.
</p>

<p>If you sign in as an admin you can easily switch roles by going to the Teams page.</p>
<table>
  <tbody>
    <tr>
      <td>Admin:</td>
      <td>admin@admin.com</td>
      <td>password</td>
    </tr>
    <tr>
      <td>Member:</td>
      <td>member@member.com</td>
      <td>password</td>
    </tr>
    <tr>
      <td>Guest:</td>
      <td>guest@guest.com</td>
      <td>password</td>
    </tr>

  </tbody>
</table>
